In [1]:
#QUESTON 1 

"""1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 
"""

"1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.\n* \n'hello'\n-87.8\n- \n/ \n+\t\n6 \n"

In [2]:
#The Values are : ('hello','-87.8','6')
#Expressions are: ('*','-','/','+')

In [3]:
#QUESTION 2

# What is the difference between string and variable?

#Any data that is stored in ('') and (" ") is known as string 
#For example: "hello", 'Ineuron','34',"34.666","*" are all known as string 
#Even the input taken from the user will be by default a string value 

#Variable is like a container in which we can store different kinds of data
#For example : number = 45 ,A='hello',b="23.90", cart=['apple','mango']

#string is a datatype that can be used to store in a variable 
#in python variables are case sensitive for example : A and a are 2 different variable

In [5]:
#QUESTION 3 

# Describe three different data types.

#The first data type is an integer which is whole number for example: 12345
#it can be positive or negative number but without float value eg: 34.9 cannot considered as integer

#The second datatype is string which can be defined as collection of characters in single or double quotes
#for example: "hello" 'world'

#Third datatype is boolean datatype which is TRUE or FALSE
#Boolean datatype can be used to define the truth of the given condition by throwing output either true or false.
#for example: 1 < 2 which will be TRUE and 0 == 1 which will be FALSE

In [ ]:
#QUESTION 4 

#. What is an expression made up of? What do all expressions do?

#An expression is a combination of operators and operands that is interpreted to produce some other value.
#In programming language expressions are evaluated as per the precedence of its operators.

#Expression is used to perform certain operation based on operator to produce other value
#for example: 5+5,25%5

In [ ]:
#QUESTION 5

#This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#An expression  is something that can be reduced to a value 
#for example: 10+12,10*1

#well as a statement is spam=10 and statements cannot be reduced to a value.

In [12]:
#QUESTION 6

#After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

#AFter running  the code the output will be 23 but the bacon variable will contain the value as 22 only

23

In [13]:
#QUESTION  7

#. What should the values of the following two terms be?

#1.'spam' + 'spamspam'
#2.'spam' * 3

#Both the input will produce the same value as 
#'spamspamspam'

22

In [1]:
#QUESTION 8 

#Why is eggs a valid variable name while 100 is invalid?

#BECAUSE Variables name cannot be number value like 100,10 or 1
#Variables name can only be alphabet not even special characters like (* @ $ % )
#Variables name can contain numbers but cannot start with numbers 
#for eg: ten10= 9 -- is a valid variable name
#        10abc= 12 -- is invalid variable name

In [2]:
#QUESTION  9 

#The 3 functions that can be used to get the integer floating point number and string version of a value are: 
# for integer -- int()
#for float  -- float() 
#for string -- str()

In [ ]:
#QUESTION 10 

#'I have eaten ' + 99 + ' burritos.'

#The above expression is failing because the concatenation works with same datatype.
#Here above the 99 will be considered as integer datatype so it will throw type error that  can only concatenate str 
#(not int to str)
#And the other two are considered as string datatype as they are in between single quote 
#So to fix this error just put 99 in '99' and it will be able to concatenate the strings properly.

# 'I have eaten ' + '99' + ' burritos.' -- this is correct form.

#Second approach can also be like this to fix the error 

#  '''I have eaten ' + 99 + ' burritos.''' -- just add triple quotes in start and end this will also fix the error..